<!DOCTYPE html>
<html  lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41437909-2"></script>
    {% block head %}

    {% endblock %}

    <!-- FAVICON LINK -->
    <link rel="icon" href="static/images/favicon.png" type="image/png">
    <!-- STYLESHEETS -->
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/vendor/bootstrap.min.css"/>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" type="text/css" href="static/css/vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/vendor/font-awesome/css/font-awesome.css"/>
    <!-- MAGNIFIC LIGHT BOX -->
    <link rel="stylesheet" type="text/css" href="static/css/vendor/magnific/magnific-popup.css">
    <!-- CAROUSEL STYLE LINK -->
    <link rel="stylesheet" type="text/css" href="static/css/vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="static/css/vendor/owl-carousel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="static/css/vendor/owl-carousel/carousel.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/custom/style.css">
    <meta name="google-site-verification" content="ap3wOjOY601MXhgdAvuXlKwVNFZoFZVSCqLiQ2AzrCw"/>


</head>


<body data-spy="scroll" data-target="#navbarSupportedContent" data-offset="100">

<!--================================= NAVIGATION START ==========================================-->
<nav class="topbar navbar navbar-default navbar-toggleable-md valign-menu fixed-top navbar-expand-lg clearfix navbar-light clearfix slider-menu"
     id="top-nav">
    <div class = "container-fluid" style="height: 70px;">
        <div class="logo-image">
            <a href="{{ url_for('index') }}"><img src="static/images/images/logo.png" alt="logo-image"
                             data-at2x="images/200x80x1@2x.png"/></a>
        </div>
        <div class="navbar-right nav" style ="float: right!important;">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav" id="menu_1">
                    <li class="menu">
                        <a href= "{{ url_for('index') }}" class="pagescroll nav-link">
                            HOME
                        </a>
                    </li>
                    <li class="menu">
                        <a href="#about" class="pagescroll nav-link">
                            ABOUT US
                        </a>
                    </li>
                    <li class="menu">
                        <a href="#services" class="pagescroll nav-link">
                            TECHNOLOGIES
                        </a>
                    </li>

                    <li class="menu">
                        <a href="#features" class="pagescroll nav-link">
                            PRODUCTS
                        </a>
                        <ul class="dropdown">
                            <li><a href="/twitterdata"><b>TWITTER ANALYTICS</b></a></li>
                            <li><a href="/textsummarypage"><b>TEXT SUMMARIZATION</b></a></li>
<!--                            <li><a href="/chatbot"><b>CHATBOT</a></b></li>-->
                            <li><a href="/sentimentpage"><b>SENTIMENTICO</b></a></li>
                            <li><a href="/Spacy"><b>NLP Analysis</b> </a></li>
                            <li><a href="/HateSpeech"><b>HATE SPEECH</b></a></li>
                            <li><a href="/dataset_info"><b>TIME SERIES</b></a></li>
                            
                        </ul>
                        <style type="text/css">
                                         ul{
        padding: 0;
              /*background: white;*/
        background-color: transparent;
    }
    ul li{
        display: inline-block;
        position: relative;
        text-align: left;

    }
    ul li a{
        display: block;
        padding: 8px 15px;
        background-color: transparent;
        text-decoration: none;

    }
    ul li a:hover{
        color: grey;

    }
    ul li ul.dropdown{
        min-width: 100%; /* Set width of the dropdown */
        color: #212529;
        background: white;
        font-family: 'Poppins', sans-serif, Arial, Verdana, 'Trebuchet MS';
        font-size: 15px;
        display: none;
        position: absolute;
        z-index: 1030;
        left: 0;
        line-height: 21px;
        font-style: bold;
    }
    ul li:hover ul.dropdown{
        display: block; /* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }



                        </style>


                    </li>
                    <li class="menu">
                        <a href="#what" class="pagescroll nav-link">
                            WHAT WE DO
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/post_API" class="nav-link">
                            API's
                        </a>
                    </li>
                    <li class="menu">
                        <a href="#contact" class="pagescroll nav-link">
                            REQUEST DEMO
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

<!--================================= NAVIGATION END ==========================================-->
{% block content %}

{% endblock %}

<!--================================= OUR SERVICES START ==========================================-->
<section class="section-padding section-2-bg" id="what">
    <div class="container">
        <div class="heading-div-1 text-center">
            <h2>WHAT WE DO</h2>
            <div class="underline-ul text-center">
                <img src="static/images/110x16.png" alt="uline" data-at2x="static/images/110x16@2x.png"/>
            </div>
            <!--
            <div class="content-top-space1">
                <p class="mission-br">WE DON'T LET TECHNOLOGY DRIVE US. AFTER LISTENING TO YOUR BUSINESS REQUIREMENT, WE DRIVE TECHNOLOGY PIECES TO SOLVE YOUR BUSINESS PROBLEM.
                </p>
            </div> -->
        </div>
        <div class="row rowsafari">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="res-col-center res-services-center service-col-br">
                    <h4 class="content-bottom-space1"><a href="#">RUMOUR ANALYTICS</a></h4>
                    <div class="distab-cell-top services-col-img">
                        <img src="static/images/rumour.png" alt="icon"  data-at2x="static/images/80x80x1@2x.png"/ class="imgwh">
                    </div>
                    <div class="distab-cell-top services-col-content">
                        <p>We analyze Web and social content to identify rumour suspected news</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 res-pad30">
                <div class="res-col-center res-services-center service-col-br">
                    <h4 class="content-bottom-space1"><a href="#">TEXT CLASSIFICATION</a></h4>
                    <div class="distab-cell-top services-col-img">
                        <img src="static/images/text.png" alt="icon"  data-at2x="static/static/images/80x80x2@2x.png"/  class="imgwh">
                    </div>
                    <div class="distab-cell-top services-col-content">
                        <p>Classify your text data in meaningful categories to get better insight</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 res-top30">
                <div class="res-col-center res-services-center service-col-br">
                    <h4 class="content-bottom-space1"><a href="#">SENTIMENT & EMOTION ANALYSIS</a></h4>
                    <div class="distab-cell-top services-col-img">
                        <img src="static/images/sentiment.png" alt="icon"  data-at2x="static/images/80x80x3@2x.png"/  class="imgwh">
                    </div>
                    <div class="distab-cell-top services-col-content">
                        <p>Identify the emotion from text using Machine learning and NLP</p>
                    </div>
                </div>

            </div>





        </div>
        <div class="row rowsafari">
            <div class="col-sm-12 col-md-12 col-lg-4 services-col-top">
                <div class="res-col-center res-services-center res-service-col-br service-col-br">
                    <h4 class="content-bottom-space1"><a href="#">HEALTHCARE ANALYTICS</a></h4>
                    <div class="distab-cell-top services-col-img">
                        <img src="static/images/healthcare.png" alt="icon"  data-at2x="static/images/80x80x4@2x.png"/  class="imgwh">
                    </div>
                    <div class="distab-cell-top services-col-content">
                        <p>Manage your patients health using Artificial Intelligence Algorithm</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 services-col-top">
                <div class="res-col-center res-services-center res-service-col-br service-col-br">
                    <h4 class="content-bottom-space1"><a href="#">CHAT BOTS</a></h4>
                    <div class="distab-cell-top services-col-img">
                        <img src="static/images/bot.png" alt="icon"  data-at2x="static/images/80x80x5@2x.png"/ class="imgwh">
                    </div>
                    <div class="distab-cell-top services-col-content">
                        <p>Let our tireless program to replace your costly human assitance</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 services-col-top">
                <div class="res-col-center res-services-center service-col-br">
                    <h4 class="content-bottom-space1"><a href="#">IMAGE CLASSIFICATION</a></h4>
                    <div class="distab-cell-top services-col-img">
                        <img src="static/images/image.png" alt="icon"  data-at2x="static/images/80x80x6@2x.png"/  class="imgwh">
                    </div>
                    <div class="distab-cell-top services-col-content">
                        <p>Enhance and Extract information from your image data</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row rowsafari">
            <div class="col-sm-12 col-md-12 col-lg-4 services-col-top">
                <div class="res-col-center res-services-center res-service-col-br">
                    <h4 class="content-bottom-space1"><a href="#">VIDEO PROCESSING</a></h4>
                    <div class="distab-cell-top services-col-img">
                        <img src="static/images/video.png" alt="icon"  data-at2x="static/images/80x80x4@2x.png"/ class="imgwh">
                    </div>
                    <div class="distab-cell-top services-col-content">
                        <p>Let your live or offline video provide intelligence out of it</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 services-col-top">
                <div class="res-col-center res-services-center res-service-col-br">
                    <h4 class="content-bottom-space1"><a href="#">QUANTITATIVE ANALYSIS</a></h4>
                    <div class="distab-cell-top services-col-img">
                        <img src="static/images/quantitative.png" alt="icon"  data-at2x="static/images/80x80x5@2x.png"/ class="imgwh">
                    </div>
                    <div class="distab-cell-top services-col-content">
                        <p>Our QA algorithm aim to represent a given reality in terms of a numerical value</p>
                    </div>
                </div>

            </div>

        </div>


    </div>
</section>
<!--================================= OUR SERVICES ENDS ==========================================-->


<!--================================= COUNTER START ==========================================-->
<section>
    <div class="counter-bgimage parallax-effect bgimage-property counter-bg-padding">
        <div class="container">
            <div class="row rowsafari text-center res-no-margin">
                <div class="col-6 col-sm-3 col-md-3 col-lg-3 res-counter-col">
                    <img src="static/images/64x64x1.png" alt="icon" class="image-bottom" data-at2x="static/images/64x64x1@2x.png"/>
                    <p class="count counter-value">540</p>
                    <h4>CLIENTS</h4>
                </div>
                <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="static/images/64x64x2.png" alt="icon" class="image-bottom" data-at2x="static/images/64x64x2@2x.png"/>
                    <p class="count counter-value">1200</p>
                    <h4>PROJECTS</h4>
                </div>
                <div class="col-6 col-sm-3 col-md-3 col-lg-3 res-top30-1">
                    <img src="static/images/64x64x3.png" alt="icon" class="image-bottom" data-at2x="static/images/64x64x3@2x.png"/>
                    <p class="count counter-value">2500</p>
                    <h4>LIKES</h4>
                </div>
                <div class="col-6 col-sm-3 col-md-3 col-lg-3 res-top30-1">
                    <img src="static/images/64x64x4.png" alt="icon" class="image-bottom" data-at2x="static/images/64x64x4@2x.png"/>
                    <p class="count counter-value">940</p>
                    <h4>AWARDS</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= COUNTER ENDS ============================================-->

<!--================================= CONTACT FORM START ==========================================-->
<section class="section-padding section-2-bg" id="contact">
    <div class="container">
        <div class="row rowsafari">
            <div class="col-sm-12 col-md-12 col-lg-6 text-center res-center">
                <div class="map-img">
                    <img src="static/images/760x745.jpg" style="width: 760px; border:1px solid #E36937" alt="image" class="img-fluid" data-at2x="static/images/760x745@2x.jpg"/>
                </div>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-6 margin-auto res-pad30 contact-form-top">
                <div class="contact-now-form">
                    <div class="contact-icon">
                        <img src="static/images/64x64x5.png" alt="image" data-at2x="static/images/64x64x5@2x.jpg" class="rounded-circle"/>
                    </div>
                    <div class="contact-form-head text-center">
                        <h3>SEND A MESSAGE</h3>
                    </div>
                    <form action="#" class="contact-form" method="post">

                        <div class="form-div form-div-left">
                            <input class="form-input" type="text" name="name" value="" placeholder="Enter Your Name" required autocomplete="off">
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 no-pad">
                            <div class="row rowsafari">
                                <div class="col-sm-12 col-md-12 col-lg-6 form-pad-right25 clearfix">
                                    <div class="form-div clearfix">
                                        <input class="number-css form-input" type="text" name="phone" value="" placeholder="Enter Your Number" required autocomplete="off" onkeypress="return isNumber(event)">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6 form-pad-left25 clearfix">
                                    <div class="form-div clearfix">
                                        <input class="form-input" type="email" name="email" value="" placeholder="Enter Your Email" required autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="form-div">
                                <textarea class="form-textarea" name="message" placeholder="Please Enter Message" cols="40" rows="5" required autocomplete="off"></textarea>
                            </div>
                            <div class="form-btn button text-center">
                                <button class="btn btn-1" type="submit">Submit</button>
                            </div>
                            <div class="messageDiv"> <span class="sucessMessage"> </span> <span class="failMessage"> </span> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= CONTACT FORM ENDS ============================================-->
<!--================================= FOOTER END =============================================-->
<section class=" footer-bg">
    <div class="container white-text" style="margin-top: 20px;">
        <div class="row rowsafari res-footer-center">
            <!--==========  COLUMN-1 ===============-->
            <div class="col-md-6 col-sm-6 col-lg-4">
                <h4>ABOUT US</h4>
                <div>
                    <p>We are experienced robots labeled as Data Scientist, Data Engineer, Business Analyst, Software
                        Engineer. </p>
                    <div class="text-left res-footer-center">
                        <ul class="no-padding no-margin footer-icon footer-left-pad">
                            <li>
                                <a href="#">
                                    <img src="static/images/32x32x4.png" alt="icon"
                                         data-at2x="static/images/32x32x4@2x.png">
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="static/images/32x32x5.png" alt="icon"
                                         data-at2x="static/images/32x32x5@2x.png">
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="static/images/32x32x6.png" alt="icon"
                                         data-at2x="static/images/32x32x6@2x.png">
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="static/images/32x32x7.png" alt="icon"
                                         data-at2x="static/images/32x32x7@2x.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--==========  COLUMN-3 ===============-->
            <div class="col-sm-6 col-md-6 col-lg-4 footer-contact res-top30">
                <h4>CONTACT US</h4>
                <div class="res-footer-contact-col">
                    <div class="distab footer-contact-bottom-1">
                        <div class="distab-cell-middle">
                            <img src="static/images/25x25x1.png" alt="icon" data-at2x="static/images/25x25x1@2x.png">
                        </div>
                        <div class="distab-cell-middle footer-contact-left">
                            <p class="text-left">Pune, India</p>
                        </div>
                    </div>

                    <div class="distab footer-contact-bottom-1">
                        <div class="distab-cell-middle">
                            <img src="static/images/25x25x2.png" alt="icon" data-at2x="static/images/25x25x2@2x.png">
                        </div>
                        <div class="distab-cell-middle footer-contact-left">
                            <p class="text-left"><a href="#">info@datainsighto.com</a>
                            </p>
                        </div>
                    </div>

                    <div class="distab footer-contact-bottom-1">
                        <div class="distab-cell-middle">
                            <img src="static/images/25x25x3.png" alt="icon" data-at2x="static/images/25x25x3@2x.png">
                        </div>
                        <div class="distab-cell-middle footer-contact-left">
                            <p class="text-left"><a href="#">datainsight.tech</a>
                            </p>
                        </div>
                    </div>

                    <!-- <div class="distab">
                        <div class="distab-cell-middle">
                            <img src="images/25x25x4.png" alt="icon" data-at2x="images/25x25x4@2x.png"/>
                        </div>
                        <div class="distab-cell-middle footer-contact-left">
                            <p class="text-left">+014-457-5457 </p>
                        </div>
                    </div> -->

                </div>
            </div>

            <!--==========  COLUMN-4 ===============-->
            <div class="col-sm-6 col-md-6 col-lg-4 res-top30">
                <h4>NEWSLETTER</h4>
                <div class="subscribe-section">
                    <div id="mc_embed_signup">
                        <!--================= YOUR MAILCHIMP ACCOUNT URL HERE ====================-->
                        <form action="http://keenicon.us11.list-manage.com/subscribe/post?u=e479edaf1c9c3d2aa4e927ed8&amp;id=07753442c3"
                              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                              class="validate" novalidate="">
                            <div class="row subscribe-row">
                                <!--================= EMAIL INPUT BOX HERE ====================-->
                                <div class="form2-div col-sm-12 col-md-12">
                                    <input class="form-input" type="email" name="EMAIL" value="" id="mce-EMAIL"
                                           placeholder="Enter Your Email">
                                </div>
                                <!--================= SUBSCRIBE BUTTON HERE ====================-->
                                <div class="col-sm-12 col-md-12 btn-top-space">
                                    <div class="center">
                                        <input type="submit" id="mc-embedded-subscribe" class="btn btn-1" name="submit"
                                               value="Subscribe">
                                    </div>
                                </div>
                                <!--================= SUCCESS AND FAILURE MESSAGE HERE =================-->
                                <div class="col-sm-12 col-md-12 center subs-error-top" id="ResultMsg"><span
                                        id="SuccessMsg" class="email-success SuccessMsg"></span><span id="FailureMsg"
                                                                                                      class="email-failure FailureMsg"></span>
                                </div>

                                <div id="mce-responses">
                                    <div class="response response-msg" id="mce-error-response"></div>
                                    <div class="response response-msg" id="mce-success-response"></div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-br footer-br-bottom"></div>
        <p class="text-center footer-copyright">© 2019, All Rights Reserved</p>
    </div>
</section>


<!-- JQUERY LIBRARY -->
<script type="text/javascript" src="static/js/vendor/jquery.min.js"></script>
<!-- BOOTSTRAP -->
<script type="text/javascript" src="static/js/vendor/bootstrap.min.js"></script>
<!-- SLIDER JS FILES -->
<script type="text/javascript" src="static/js/vendor/slider/owl.carousel.min.js"></script>
<script type="text/javascript" src="static/js/vendor/slider/owl-slider.js"></script>
<!-- MAGNIFIC LIGHT BOX -->
<script type="text/javascript" src="static/js/vendor/magnific/jquery.magnific-popup.js"></script>
<!-- SHUFFLE JS FILES -->
<script type="text/javascript" src="static/js/vendor/shuffle/modernizr.custom.min.js"></script>
<script type="text/javascript" src="static/js/vendor/shuffle/jquery.shuffle.js"></script>
<script type="text/javascript" src="static/js/vendor/shuffle/page.js"></script>
<script type="text/javascript" src="static/js/vendor/shuffle/evenheights.js"></script>
<script type="text/javascript" src="static/js/vendor/shuffle/homepage.js"></script>
<!-- SUBSCRIBE MAILCHIMP -->
<script type="text/javascript" src="static/js/vendor/subscribe/subscribe_validate.js"></script>
<!-- FORM VALIDATION -->
<script type="text/javascript" src="static/js/vendor/validate/jquery.validate.min.js"></script>
<!-- NUMBER VALIDATION JS FILES -->
<script type="text/javascript" src="static/js/vendor/number.js"></script>
<!-- COUNTER JS FILES -->
<script type="text/javascript" src="static/js/vendor/counter/counter-lib.js"></script>
<script type="text/javascript" src="static/js/vendor/counter/jquery.counterup.min.js"></script>
<!-- RETINA JS FILES -->
<script type="text/javascript" src="static/js/vendor/retina.js"></script>
<!-- THEME JS -->
<script type="text/javascript" src="static/js/custom/custom.js"></script>

</body>
</html>