{% extends 'base.html' %}


{% block head %}

<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<script type="text/javascript"
        src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/wordcloud.js"></script>
<script src='//static.codepen.io/assets/editor/live/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d52303a462c826d54a73.js'></script>
<script src='//static.codepen.io/assets/editor/live/css_live_reload_init-e9c0cc5bb634d3d14b840de051920ac153d7d3d36fb050abad285779d7e5e8bd.js'></script>
<script src='//static.codepen.io/assets/editor/live/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d52303a462c826d54a73.js'></script>
<script src='//static.codepen.io/assets/editor/live/css_live_reload_init-e9c0cc5bb634d3d14b840de051920ac153d7d3d36fb050abad285779d7e5e8bd.js'></script>


<title>Text Summarization | Text Summarization Using NLP and ML algorithms</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="description" content="Text Summarisation for free. Text summarization is the task of producing a concise and fluent summary while preserving key information content and overall meaning">
<meta name="keywords" content="text summarization,text summarization python,text summarisation ,text summarisation using deep learning,text summarisation using python ,text summarisation using nlp,text summarisation dataset,text summarisation techniques,text summarisation online
text summarization using deep learning,text summarization online">
<meta name="author" content="Arman Mansuri">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta charset='UTF-8'>
<meta name="robots" content="noindex">
<meta property="og:url" content="https://www.datainsighto.tech/textsummarypage"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="Text Summarization | Text Summarization Using NLP and ML algorithms"/>
<meta property="og:description" content="Text Summarisation for free. Text summarization is the task of producing a concise and fluent summary while preserving key information content and overall meaning."/>
<meta property="og:image" content="static/images/images/logo.png"/>

<link rel="canonical" href="https://codepen.io/huange/pen/rbqsD"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>

<style class="cp-pen-styles">@import url(https://fonts.googleapis.com/css?family=Open+Sans);


    <style class="cp-pen-styles">
    h1{
      font-size: 30px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
      margin-bottom: 15px;
    }
    table{
      width:100%;
    }

    tbody{
      height:600px;
      overflow-x:auto;
      margin-top: 0px;

    }
    th{
      padding: 20px 15px;
      font-size: 12px;
      color : black;
      text-transform: uppercase;
      text-align-last: center;
      font-weight: bold;
    }
    td{
      padding: 15px;
      text-align: center;
      vertical-align:middle;
      font-weight: 300;
      font-size: 12px;
      color : black;

    }


    /* demo styles */

    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

    body{
      background: -webkit-linear-gradient(left, #25c481, #25b7c4);
      background: linear-gradient(to right, #25c481, #25b7c4);
      font-family: 'Roboto', sans-serif;
    }

    section{
      margin: 10px;
    }

    ::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

    .search {
      padding-top: 10%;
      width: 97%;
      position: relative;
    }
    .searchTerm {
      float: left;
      width: 100%;
      border: 3px solid #00B4CC;
      padding: 5px;
      height: 36px;
      border-radius: 5px;
      outline: none;
      color: #9DBFAF;
    }

    .searchTerm:focus{
      color: #00B4CC;
    }
    .searchButton {
      position: absolute;
      right: -45px;
      width: 40px;
      height: 36px;
      border: 1px solid #00B4CC;
      background: #00B4CC;
      text-align: center;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px;
    }

</style>

<style>
    html{
        scroll-behavior : smooth;
    }
</style>



{% endblock %}

{% block content %}

<!--   ============================    DIV BLOCK START     ==================================================-->
<header class="header-bg" id="home">
    <div class="">
        <div class="container">
            <div class="parallax-head parallax-padding" style="padding-top: 80px; ">
                <div>
                    <div style="text-align:center;">
                        <div style="margin-top:5% ;padding-bottom: 20px; " class="heading-div-1 text-center">
                            {% if request.form['submit'] == 'Analyse_Hate_speech' %}
                                <button style="margin-bottom: 40px; background-color: #e36937; " class="btn-block btn btn-warning">
                                    <a href="#textsentresult">
                                        <h3 style="">Result - >
                                        </h3>
                                    </a>
                                </button>
                            {% endif %}
                            <h2>HATE SPEECH FUNCTION Analysis</h2>
                            <div class="underline-ul text-center">
                                <img src="static/images/110x16.png" alt="uline" data-at2x="static/images/110x16@2x.png">
                            </div>
                        </div>
                        <ul id="hoverfunc" class="nav nav-tabs nav-justified justify-content-center">
                            <li class="nav-item active"><a data-toggle="tab" aria-selected="true"
                                                           style=" font-size: 25px; color: #e36937;"
                                                           class="nav-link" href="#menu1" aria-expanded="false">URL
                                <p class="mt-tab-1"></p>
                            </a></li>
                            <li class="nav-item"><a data-toggle="tab" href="#menu2" aria-selected="false"
                                                    style="font-size: 25px;  color: #e36937;"
                                                    class="nav-link" aria-expanded="true">TEXT
                                <p class="mt-tab-2"></p>
                            </a></li>
                            <li class="nav-item"><a data-toggle="tab" aria-selected="true"
                                                    style="font-size: 25px; color: #e36937;"
                                                    class="nav-link" href="#menu3" aria-expanded="false">UPLOAD FILE
                                <p class="mt-tab-3"></p>
                            </a></li>
                        </ul>
                    </div>
                    
                    <div class="tab-content">


                        <div id="menu1" class="tab-pane fade active show">
                            <div class="">
                                <!--                                            <div class="col-xs-12 col-sm-10 col-sm-offset-1">-->
                                <section class="section-padding section-1-bg" id="features1"
                                         style="padding-top: 1px;  padding-bottom: 0px;">
                                    <div class="container">

                                        <form action=" {{ url_for('HateSpeech_Post') }}" id="submit_form_1"
                                              method="post"
                                              enctype="multipart/form-data">
                                            <div class="row rowsafari">
                                                <div class="col-sm-12 col-md-12 col-lg-6 ">
                                                    <div class="pad-right25 ">
                                                        <div class="abt-col"
                                                             style=" padding-top: 150px; padding-bottom: 150px;">
                                                            <h3 style="text-align: center; color: #e36937;">INPUT THE
                                                                URL</h3>


                                                            <div style="margin-top: 3%;">
                                                                                <textarea class="form-control"
                                                                                          maxlength="1000" name="url"
                                                                                          id="url"
                                                                                          rows="1" required=""
                                                                                          style="font-size: smaller; ">{{ request.form['url'] }}</textarea>
                                                                <p></p>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-6 features-top">
                                                    <div class="pad-left25">
                                                        <ul class="content-ul">


                                                            <li>
                                                                <div class="distab-cell-middle">
                                                                    <br>
                                                                    
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                    
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                    
                                                                    <br>

                                                                    <tr>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <td><input
                                                                                        class="mybutton btn-large btn btn-warning "
                                                                                        type="submit"
                                                                                        value="Analyse_Hate_speech"
                                                                                        onclick="submit_form_1_function()"
                                                                                        name="submit"
                                                                                        style="margin-top: 30px; background-color: #ec9774; ">
                                                                                </td>
                                                                            </div>
                                                                        </div>
                                                                    </tr>

                                                                </div>
                                                            </li>
                                                            <br>
                                                            <br>
                                                            <br>


                                                            <li>


                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </section>
                            </div>
                        </div>
                        <div id="menu2" class="tab-pane fade ">
                            <div class="">
                                <!--                                            <div class="col-xs-12 col-sm-10 col-sm-offset-1">-->
                                <section class="section-padding section-1-bg" id="features2"
                                         style="padding-top: 1px;   padding-bottom: 0px;">
                                    <div class="container">

                                        <form action=" {{ url_for('HateSpeech_Post') }}" method="post"
                                              id="submit_form_2"
                                              enctype="multipart/form-data">
                                            <div class="row rowsafari">
                                                <div class="col-sm-12 col-md-12 col-lg-6 features-top">
                                                    <div class="pad-right25 ">
                                                        <div class="abt-col"
                                                             style="padding-top: 30px; padding-bottom: 30px;">
                                                            <h3 style="text-align: center; color: #e36937;">INPUT THE
                                                                TEXT</h3>


                                                            <div style="margin-top: 3%;">
                                                                                <textarea class="form-control"
                                                                                          maxlength="50000" name="text"
                                                                                          id="text" rows="4" required=""
                                                                                          style="padding-top: 30px;  height: 314px ;font-size: smaller;">{{ request.form['text'] }}</textarea>
                                                                <p></p>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-6 features-top">
                                                    <div class="pad-left25">
                                                        <ul class="content-ul">


                                                            <li>
                                                                <div class="distab-cell-middle">
                                                                    <br>
                                                                    
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                    
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                    

                                                                    <br>

                                                                    

                                                                </div>
                                                            </li>
                                                            <br>
                                                            <br>
                                                            <tr>
                                                              <div class="row">
                                                                  <div class="col">
                                                                      <td><input
                                                                              class="mybutton btn-large btn btn-warning "
                                                                              type="submit"
                                                                              value="Analyse_Hate_speech"
                                                                              onclick="submit_form_2_function()"
                                                                              name="submit"
                                                                              style="margin-top: 30px; background-color: #ec9774; ">
                                                                      </td>
                                                                  </div>
                                                              </div>
                                                          </tr>
                                                            <br>


                                                            <li>


                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <div class="">
                                <!--                                            <div class="col-xs-12 col-sm-10 col-sm-offset-1">-->
                                <section class="section-padding section-1-bg" id="features3"
                                         style="padding-top:1px;padding-bottom: 40px; padding-bottom: 0px;  ">
                                    <div class="container">
                                        <form action=" {{ url_for('HateSpeech_Post') }}" method="post"
                                              id="submit_form_3"
                                              enctype="multipart/form-data">
                                            <div class="row rowsafari">
                                                <div class="col-sm-12 col-md-12 col-lg-6 features-top">
                                                    <div class="pad-right25 ">
                                                        <div class="abt-col"
                                                             style="padding-top: 150px; padding-bottom: 150px;">
                                                            <h3 style="text-align: center;color: #e36937; ">UPLOAD
                                                                FILE</h3>

                                                            <div style=" text-align:center; padding-left: 40px;  margin-top: 15%;">
                                                                <input type="file" required="" name="file"/>
                                                                <p></p>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-6 features-top">
                                                    <div class="pad-left25">
                                                        <ul class="content-ul">


                                                            <li>
                                                                <div class="distab-cell-middle">
                                                                    <br>
                                                                    
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                    
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                    

                                                                    <br>

                                                                    <tr>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <td><input
                                                                                        class="mybutton btn-large btn btn-warning "
                                                                                        type="submit"
                                                                                        value="Analyse_Hate_speech"
                                                                                        onclick="submit_form_3_function()"
                                                                                        name="submit"
                                                                                        style="margin-top: 30px; background-color: #ec9774; ">
                                                                                </td>
                                                                            </div>
                                                                        </div>
                                                                    </tr>

                                                                </div>
                                                            </li>
                                                            <br>
                                                            <br>
                                                            <br>


                                                            <li>


                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--    ============================    DIV BLOCK END      ==================================================-->

<div class="container">

    <div class="alert alert-primary container" role="alert" style="margin-top: 20px">
        <p id = "textsentresult" style="font-size: 18px;
				font-weight: 8px;">Check out our API for Analysing your Data
            <i class="fa fa-arrow-right" style="font-size:16px"></i>
            <a href="/post_API" style="font-size: 18px; font-weight: 8px; color: #e36937;"> Click Here </a>
        </p>
    </div>
    <!--    ============================    Selection      ==================================================-->
    <div>
        <script>
            var header = document.getElementById("hoverfunc");
            var btns = header.getElementsByClassName("nav-item");
            for (var i = 0; i < btns.length; i++) {
              btns[i].addEventListener("click", function() {
              var current = document.getElementsByClassName("active");
              current[0].className = current[0].className.replace(" active", "");
              this.className += " active";

              });
            }










        </script>
        <br>
    </div>



    {% if request.form['submit'] == 'Analyse_Hate_speech' %}

        <div class="container" id="textsumresult" >
            <div class="heading-div-1 text-center">
                <h2>Results of HATE SPEECH ANALYSIS</h2>
                <div class="underline-ul text-center">
                    <img src="static/images/110x16.png" alt="uline" data-at2x="static/images/110x16@2x.png">
                    <br>
                    <br>
                    <br>
                    <br>

                    <h4>Content : </h4>
                    <p>{{content}}</p>

                    <br>
                    <br>
                    <br>

                    <ul class="list-group">
	
                        {% for i in (0,1,2) %}
                            {% if i == max %}
                                <li class="list-group-item list-group-item-success text-center">{{category[i].upper().replace('_', ' ')}} ({{prediction[i]}})</li>
                            {% else %}
                                <li class="list-group-item list-group-item-dark text-center">{{category[i].upper().replace('_', ' ')}} ({{prediction[i]}})</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}


</div>




<script>


        function submit_form_1_function() {
            var form = document.getElementById("submit_form_1");
            form.submit();
        }

        function submit_form_2_function() {
            var form = document.getElementById("submit_form_2");
            form.submit();
        }

        function submit_form_3_function() {
            var form = document.getElementById("submit_form_3");
            form.submit();
        }

        var slider1 = document.getElementById("myRange1");
        var output1 = document.getElementById("demo1");
        output1.innerHTML = slider1.value+"%";

        slider1.oninput = function() {
          output1.innerHTML = this.value+"%";
        }

        var slider2 = document.getElementById("myRange2");
        var output2 = document.getElementById("demo2");
        output2.innerHTML = slider2.value+"%";

        slider2.oninput = function() {
          output2.innerHTML = this.value+"%";
        }


        var slider3 = document.getElementById("myRange3");
        var output3 = document.getElementById("demo3");
        output3.innerHTML = slider3.value+"%";

        slider3.oninput = function() {
          output3.innerHTML = this.value+"%";
        }

</script>
<script>
            (function($) {

            ////////////////////////////////////////////////////////
            ///////////////// SCROLL TO ELEMENT ////////////////////
            ////////////////////////////////////////////////////////

              var $htmlBody       = $( 'html, body' ),
                $jsScroll         = $('.js-scroll-to-element'),
                hash        = window.location.hash,
                speed         = 600,  // millesconds it takes to reach the item
                stopHere      = -30,  // pixels from element when it stops
                target,
                withHash;



              function animateToElement() {

                // scroll to id that matches href and animate
                $htmlBody.animate({
                  scrollTop: $(withHash).offset().top + stopHere
                }, speed);

              }



              $(window).load(function() {

                // if address bar has hash scroll to element
                if (hash.length) {

                  // update hash
                  withHash = hash;

                  // initiate scroll to function
                  animateToElement();
                }

              });


              function scrollToElement() {

                // grab href
                target = $(this).attr('href');

                // update hash
                withHash = target;

                // initiate scroll to function
                animateToElement();

              }


              $jsScroll.on('click', scrollToElement);




            })(jQuery);










</script>
{% endblock %}