{% extends 'base.html' %}

	{% block head %}
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-41437909-2');
		</script>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
                <meta name="description" content="We are data analytics company who helps to get insights of the data. This is our state of art text summarization tool which can help you to get summary of any given text. We have also provided text summarization API.">
		 <meta name="keywords" content="text summarization,text summary,text summarization api,free text summarization tool">
                <meta name="author" content="Arman Mansuri">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bigdata analytics | Bringing insight from data using Artificial Intelligence</title>

	{% endblock %}




{% block content %}

		


		
		<!--================================= PARALLAX HEADER START ==========================================-->
		<header class="header-bg" id="home">
			<div class="parallax-header-bg parallax-effect bgimage-property">
					<div class="container">
						<div class="parallax-head parallax-padding">
							<div class="col-sm-12 col-md-12 col-lg-8 column-center text-center no-pad">
								<div class="header-div-1">
									<p class="sub-head" style="height: 40px;"></p>
									<h1 style="color: #E36937">DATA INSIGHTO</h1>
									<p class="header-content" style="text-transform: uppercase;">We are Robots who eat, drink and dream  DATA tirelessly. If you are not sure how your data or data around you can bring business to you; you are at the right place to pitch.
									</p>
									<div style="height: 60px;">
										<!-- <p class="btn btn-1"><a href="#">Learn More</a></p>	 -->			
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--================================= PARALLAX HEADER END ============================================-->
		
		<!--================================= ABOUT US START ==========================================-->
		<section class="section-padding section-1-bg" id="about">
			<div class="container">
				<div class="row rowsafari">
					<div class="col-sm-12 col-md-12 col-lg-6 order-lg-1 order-2 res-top20">
						<div class="pad-right25">
							<div class="abt-col" style="height: 382px">
										<div class="abt-head">
											<!-- <p class="abt-subhead">VEHICULA HENDRERIT</p> -->
											<h3>WHAT ARE WE?</h3>
										</div>
										<p class="content-top-space">We are experienced robots labeled as Data Scientist, Data Engineer, Business Analyst, Software Engineer. If data is concerned with you; we can perform meaningful insight to generate business out of it. Without any regards to Technology, Application domain or Platform.
										</p>
										<div class="about-points content-top-space1 distab" style="margin-top: 60px;">
											<div class="distab-cell-middle">
												<div class="distab-cell-middle list-img" >
													<img src="static/images/scientist.png" alt="icon" data-at2x="static/images/32x32x1@2x.png" style="width: 30px;margin-right:5px;"/>
												</div>
												<div class="distab-cell-middle list-content">
													<p><a href="#">DATA SCIENTISTS</a></p>
												</div>
											</div>
											<div class="distab-cell-middle abt-pad-left25">
												<div class="distab-cell-middle list-img">
													<img src="static/images/dataeng.png" alt="icon" data-at2x="static/images/32x32x2@2x.png" style="width: 30px;margin-right:5px;"/>
												</div>
												<div class="distab-cell-middle list-content">
													<p><a href="#">DATA ENGINEERS</a></p>
												</div>
											</div>
											<div class="distab-cell-middle abt-pad-left25">
												<div class="distab-cell-middle list-img">
													<img src="static/images/scientist.png" alt="icon" data-at2x="static/images/32x32x3@2x.png" style="width: 30px;margin-right:5px;"/>
												</div>
												<div class="distab-cell-middle list-content">
													<p><a href="#">SOFTWARE ENGINEERS</a></p>
												</div>
											</div>
										</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-6 order-lg-2 order-1">
						<div class="pad-left25">
							<img src="static/images/760x565x1.jpg" alt="image" class="img-fluid" data-at2x="static/images/760x565x1@2x.jpg"/> 
						</div>
					</div>
				</div>				
			</div>			
		</section>
		<!--================================= ABOUT US ENDS ==========================================-->
		
		<!--================================= OUR SERVICES START ==========================================-->
		<section class="section-padding section-2-bg" id="services">
			<div class="container">
				<div class="heading-div-1 text-center">
					<h2>TECHNOLOGIES</h2>
					<div class="underline-ul text-center">
						<img src="static/images/110x16.png" alt="uline" data-at2x="static/images/110x16@2x.png"/>
					</div>

					<div class="content-top-space1">
						<p class="mission-br">WE DON'T LET TECHNOLOGY DRIVE US. AFTER LISTENING TO YOUR BUSINESS REQUIREMENT, WE DRIVE TECHNOLOGY PIECES TO SOLVE YOUR BUSINESS PROBLEM.
						</p>
					</div>
				</div>
				<div class="row rowsafari">					
					<div class="col-sm-12 col-md-12 col-lg-4">							
						<div class="res-col-center res-services-center service-col-br">
							<h4 class="content-bottom-space1"><a href="#">MACHINE LEARNING</a></h4>
							<div class="distab-cell-top services-col-img">
								<img src="static/images/ml.png" alt="icon"  data-at2x="static/images/80x80x1@2x.png" class="imgwh">
							</div>
							<div class="distab-cell-top services-col-content">
								<p>We enable machine to learn from your historical data to predict your future</p>
							</div>
						</div>
					
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4 res-pad30">							
						<div class="res-col-center res-services-center service-col-br">
							<h4 class="content-bottom-space1"><a href="#">NLP</a></h4>
							<div class="distab-cell-top services-col-img">
								<img src="static/images/nlp.png" alt="icon"  data-at2x="static/images/80x80x2@2x.png"  class="imgwh">
							</div>
							<div class="distab-cell-top services-col-content">
								<p>Our NLP algorithm helps your application to understand human language</p>
							</div>
						</div>
					
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4 res-top30">							
						<div class="res-col-center res-services-center service-col-br">
							<h4 class="content-bottom-space1"><a href="#">DATA ANALYTICS</a></h4>
							<div class="distab-cell-top services-col-img">
								<img src="static/images/data analytics.png" alt="icon"  data-at2x="static/images/80x80x3@2x.png" class="imgwh">
							</div>
							<div class="distab-cell-top services-col-content">
								<p>Conclude Intelligence information from your Data lake</p>
							</div>
						</div>
					
					</div>





				</div>
				<div class="row rowsafari">
					<div class="col-sm-12 col-md-12 col-lg-4 services-col-top">							
						<div class="res-col-center res-services-center res-service-col-br service-col-br">
							<h4 class="content-bottom-space1"><a href="#">DATA MINING</a></h4>
							<div class="distab-cell-top services-col-img">
								<img src="static/images/data mining.png" alt="icon"  data-at2x="static/images/80x80x4@2x.png"  class="imgwh">
							</div>
							<div class="distab-cell-top services-col-content">
								<p>Identify patterns and establish relationships in your huge data</p>
							</div>
						</div>
					
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4 services-col-top">							
						<div class="res-col-center res-services-center res-service-col-br service-col-br">
							<h4 class="content-bottom-space1"><a href="#">INFORMATION EXTRACTION</a></h4>
							<div class="distab-cell-top services-col-img">
								<img src="static/images/information extraction.png" alt="icon"  data-at2x="static/images/80x80x5@2x.png" class="imgwh">
							</div>
							<div class="distab-cell-top services-col-content">
								<p>Identify a predefined set of concepts from structured and unstructured data</p>
							</div>
						</div>
					
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4 services-col-top">							
						<div class="res-col-center res-services-center service-col-br">
							<h4 class="content-bottom-space1"><a href="#">BIGDATA PROCESSING</a></h4>
							<div class="distab-cell-top services-col-img">
								<img src="static/images/big data.png" alt="icon"  data-at2x="static/images/80x80x6@2x.png"  class="imgwh">
							</div>
							<div class="distab-cell-top services-col-content">
								<p>Let your bigdata to managed in intelligent way</p>
							</div>
						</div>
					
					</div>
				</div>

				<div class="row rowsafari">
					<div class="col-sm-12 col-md-12 col-lg-4 services-col-top">							
						<div class="res-col-center res-services-center res-service-col-br">
							<h4 class="content-bottom-space1"><a href="#">ARTIFICIAL INTELLIGENCE</a></h4>
							<div class="distab-cell-top services-col-img">
								<img src="static/images/ai.png" alt="icon"  data-at2x="static/images/80x80x4@2x.png" class="imgwh">
							</div>
							<div class="distab-cell-top services-col-content">
								<p>Let your task managed by Intelligent agents</p>
							</div>
						</div>
					
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4 services-col-top">							
						<div class="res-col-center res-services-center res-service-col-br">
							<h4 class="content-bottom-space1"><a href="#">COMPUTER VISION</a></h4>
							<div class="distab-cell-top services-col-img">
								<img src="static/images/computer vision.png" alt="icon"  data-at2x="static/images/80x80x5@2x.png" class="imgwh">
							</div>
							<div class="distab-cell-top services-col-content">
								<p>Our theory and technology for building artificial systems that obtain information from images and videos</p>
							</div>
						</div>
					
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4 services-col-top">							
						<div class="res-col-center res-services-center">
							<h4 class="content-bottom-space1"><a href="#">VISUALIZATION</a></h4>
							<div class="distab-cell-top services-col-img">
								<img src="static/images/visualization.png" alt="icon"  data-at2x="static/images/80x80x6@2x.png" class="imgwh">
							</div>
							<div class="distab-cell-top services-col-content">
								<p>We create images, diagrams, or animations to communicate your message.</p>
							</div>
						</div>
					
					</div>
				</div>


			</div>				
		</section>
		<!--================================= OUR SERVICES ENDS ==========================================-->
		
		<!--================================= OUR FEATURES START ==========================================-->
		<section class="section-padding section-1-bg" id="features">
			<div class="container">
				<div class="heading-div-1 text-center">
					<h2>OUR PRODUCTS</h2>
					<div class="underline-ul text-center">
						<img src="static/images/110x16.png" alt="uline" data-at2x="static/images/110x16@2x.png"/>
					</div>
				</div>
				<div class="row rowsafari">
					<div class="col-sm-12 col-md-12 col-lg-6">
						<div class="pad-right25">
							<img src="static/images/560x560x1.png" alt="image" class="img-fluid" data-at2x="static/images/560x560x1@2x.png"/>   
						</div>
					</div>						
					<div class="col-sm-12 col-md-12 col-lg-6 features-top">	
						<div class="pad-left25">
							<ul class="content-ul">
								<li>
									<!-- <div class="distab-cell-top features-col-img">
										<img src="images/90x90x1.png" alt="icon"  data-at2x="images/90x90x1@2x.png"/>
									</div> -->
									<div class="distab-cell-middle">
										<h4 class="heading-bottom-space mission-br"><a href="#">WE BUILD PRODUCT ASSOCIATED WITH ALL LISTED TECHNOLOGIES. HERE ARE FEW READY TO TEST.</a></h4>
										<!-- <p>Lorem ipsum dolor sit amet. Vestibulum imperdiet nibh vel magna lacinia ultrices</p> -->
									</div>
								</li>
								<li class="features-row-top">
									<div class="distab-cell-top features-col-img">
										<img src="static/images/twitter.svg" alt="icon"  data-at2x="static/images/90x90x2@2x.png"/>
									</div>
									<div class="distab-cell-middle">
										<h4 class="heading-bottom-space"><a href="/twitteranalytics">TWITTER ANALYTICS</a></h4>
										<p>Twitter analytics provides a wealth of information that can help you create meaningful insight that will resonate with your target audience.</p>
									</div>
								</li>
								<li class="features-row-top">
									<div class="distab-cell-top features-col-img">
										<img src="static/images/textsummary.svg" alt="icon"  data-at2x="static/images/90x90x3@2x.png"/>
									</div>
									<div class="distab-cell-middle">
										<h4 class="heading-bottom-space"><a href="{{ url_for('textsummary') }}">TEXT SUMMARIZATION</a></h4>
										<p>Converts long articles, document and paragraph into meaningful sort summary</p>
									</div>
								</li>
								<li class="features-row-top">
									<div class="distab-cell-top features-col-img">
										<img src="static/images/customer.svg" alt="icon"  data-at2x="static/images/90x90x4@2x.png"/>
									</div>
									<div class="distab-cell-middle">
										<h4 class="heading-bottom-space"><a href="#">CUSTOMER SUPPORT CHATBOT</a></h4>
										<p>Automate your customer support service in 24x7, instant and tiredless solution using Artificial Intelligence chatbots </p>
									</div>
								</li>
								<li class="features-row-top">
									<div class="distab-cell-top features-col-img">
										<img src="static/images/sentimentico.svg" alt="icon"  data-at2x="images/90x90x4@2x.png"/>
									</div>
									<div class="distab-cell-middle">
										<h4 class="heading-bottom-space"><a href="/sentimnt_anlysis">SENTIMENTICO</a></h4>
										<p>Analyze your customer feedback using Machine Learning solution to fine tune your product performance</p>
									</div>
								</li>
								<li class="features-row-top">
									<div class="distab-cell-top features-col-img">
										<img src="static/images/daa.svg" alt="icon"  data-at2x="static/images/90x90x4@2x.png"/>
									</div>
									<div class="distab-cell-middle">
										<h4 class="heading-bottom-space"><a href="#">DATANALYTICO</a></h4>
										<p>Inspect, cleans, transform, and model your data with the goal of discovering g decision-making information</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>				
			</div>			
		</section>
		<!--================================= OUR FEATURES ENDS ==========================================-->



		

{% endblock %}


